# Ensure line endings are normalized
# https://stackoverflow.com/a/21473084/1481479
* text=auto

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
/.yarn/releases/** binary
/.yarn/plugins/** binary
