body {
    font-family: "Comic Sans MS", "Comic Sans", "Indie Flower", sans-serif;
}

p + p {
    margin-top: 24px;
}

a,
.message-body a:not(.button):not(.tag) {
    color: #ec5800;
    text-decoration: none;
}

/* stylelint-disable-next-line no-descending-specificity */
a:hover,
.message-body a:not(.button):hover {
    color: #ec5800;
    text-decoration: underline;
}

#logo {
    max-height: 6em;
}

#name {
    margin-bottom: 0.8em;
}

#explanation {
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#projects {
    padding-top: 0;
}

#faq,
.hero {
    background-color: #ec5800;
}

.hero .title,
.hero .subtitle {
    color: #ffffff;
}

.message-header {
    padding-left: 1.25em;
    padding-right: 1.25em;
}

article {
    max-width: 600px;
    margin: auto;
}

footer p {
    margin-top: 0;
}
