body {
    font-family: "Comic Sans MS", "Comic Sans", 'Indie Flower', sans-serif;
}

p + p {
    margin-top: 24px;
}

a, .message-body a:not(.button):not(.tag) {
    color: #EC5800;
    text-decoration: none;
}

a:hover, .message-body a:not(.button):hover {
    color: #EC5800;
    text-decoration: underline;
}

#explanation {
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#projects {
    padding-top: 0;
}

#faq, .hero {
    background-color: #EC5800;
}

.hero .title, .hero .subtitle {
    color: #FFFFFF;
}

.message-header {
    padding-left: 1.25em;
    padding-right: 1.25em;
}

/* .message-body { */
    /* background-color: #ffdd57; */
/* } */

article {
    max-width: 600px;
    margin: auto;
}

footer p {
    margin-top: 0;
}
